<div class="container mt-5">
  <h1 class="display-4 text-center mb-4"><%= forecast.location&.address %></h1>

  <% forecast.periods.each_slice(3) do |slice| %>
    <div class="row">
      <% slice.each do |data| %>
        <div class="col-md-4">
          <%= render 'forecast_card', data: data %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
