<div data-loading-target="spinner" >
  <%= turbo_frame_tag "weather_forecast" do %>
    <% if @forecast.periods.present? %>
      <%= render partial: 'forecast', locals: { forecast: @forecast } %>
    <% end %>
  <% end %>
</div>
