<div class="container">
  <div class="row justify-content-center">
    <%= turbo_frame_tag "flash_messages", style: 'height: 50px' do %>
      <%= render 'layouts/flash_messages' %>
    <% end %>
  </div>
</div>

<%= turbo_frame_tag "weather_forecast", data: { controller: "loading" } do %>
  <%= render partial: 'forecast', locals: { forecast: @forecast } %>
<% end %>
